main {
  padding: 0 var(--padding-place);
}
#main-screen {
  text-align: center;
}
#main-screen span {
  display: block;
  margin-bottom: 20px;
}
#main-screen button {
  background: white;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 18px;
}
