footer {
  padding: 0 var(--padding-place);
  background: #f7f7f7;
}
.fnb__top {
  padding: 48px 0;
  border-bottom: 1px solid #ddd;
}
.fnb__top-list {
  display: flex;
  width: 100%;
}
.fnb__top-item {
  width: 25%;
  padding: 0 12px;
}
.fnb__top-item ul {
  display: flex;
  flex-direction: column;
}
.fnb__top-item span {
  font-size: 12px;
  font-weight: 600;
}
.fnb__top-item li {
  margin-top: 15px;
  font-size: 14px;
  line-height: 22px;
}
.fnb__bottom {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fnb__bottom-left ul,
.fnb__bottom-right {
  display: flex;
  font-weight: 300;
  align-items: center;
  font-size: 15px;
}
.fnb__bottom-left li a {
  letter-spacing: -0.6px;
  font-weight: 500;
  font-size: 14px;
}
.fnb__bottom-left li::before {
  content: " · ";
  font-weight: 500;
  margin: 0 5px 0 10px;
}

.fnb__bottom-global {
  display: flex;
  align-items: center;
}
.fnb__bottom-global button {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.fnb__bottom-global span {
  margin-left: 7px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
}
.fnb__bottom-sns {
  margin-left: 12px;
}
.fnb__bottom-sns a {
  margin: 0 10px;
  font-size: 20px;
}
