$pink: #ff385c;
$wine: #60012b;
$purple: #bb38a2;
$padding80: 0 80px;
$padding40: 0 40px;
$padding25: 0 25px;
$hostPadding48: 0 48px;

//media screen size
$breakpoint-mobile-min: 378px;
$breakpoint-mobile-max: 480px;
$breakpoint-tablet: 768px;
$breakpoint-max900: 900px;
$breakpoint-desktop: 1024px;
$breakpoint-screen-large: 1200px;
