footer {
  padding: 0 80px;
  background: #f7f7f7;
  .fnb__top {
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
    .fnb__top-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      width: 100%;
      .fnb__top-item {
        ul {
          display: flex;
          flex-direction: column;
          span {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          li {
            margin-top: 15px;
            font-size: 14px;
            line-height: 22px;
            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .fnb__bottom {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fnb__bottom-left ul,
    .fnb__bottom-right {
      display: flex;
      font-weight: 300;
      align-items: center;
      font-size: 15px;
      li {
        margin: 0;
        display: flex;
        align-items: center;
        margin-right: 5px;
        &::before {
          content: " · ";
          font-weight: 500;
          margin-right: 5px;
        }
        a {
          letter-spacing: -0.6px;
          font-weight: 500;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .fnb__bottom-right {
      .fnb__bottom-global {
        display: flex;
        align-items: center;
        button {
          display: flex;
          align-items: center;
          margin-right: 30px;
          span {
            margin-left: 7px;
            text-decoration: underline;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
      .fnb__bottom-sns {
        display: flex;
        margin-left: 12px;
        a {
          margin: 0 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: $large) {
  footer {
    padding: $padding40;
    .fnb__top {
      padding-bottom: 0;
      .fnb__top-list {
        flex-direction: column;
        .fnb__top-item {
          width: auto;
          padding: 0;
          &:not(:first-child) {
            margin-top: 25px;
          }
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
          ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 25px;
            gap: 10px;
            span {
              grid-column: span 3;
              font-size: 0.9rem;
              margin-bottom: 5px;
            }
            li {
              margin-top: 0;
            }
          }
        }
      }
    }
    .fnb__bottom {
      flex-direction: column-reverse;
      .fnb__bottom-left {
        margin-top: 15px;
        ul {
          display: grid;
          grid-template-columns: repeat(5, auto);
          span {
            grid-column: span 5;
            text-align: center;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: $medium) {
}

@media (max-width: $small) {
  footer {
    padding: 0 25px;
    .fnb__top {
      .fnb__top-item ul {
        display: flex !important;
      }
    }
    .fnb__bottom {
      .fnb__bottom-left {
        ul {
          display: flex !important;
          flex-wrap: wrap;
          span {
            text-align: left;
            display: block;
            width: 100%;
          }
        }
      }
      .fnb__bottom-right {
        width: 100%;
        .fnb__bottom-sns {
          display: none;
        }
      }
    }
  }
}
