#header {
  width: 100%;
  z-index: 2;
  height: 58px;
  position: absolute;
  top: 0;
  #notice-bar {
    background-color: #222;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.9);
    a {
      color: #a3a3a3;
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
      letter-spacing: -1px;
    }
  }
  nav {
    width: 100%;
    box-sizing: border-box;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    & > div {
      &:first-child,
      &:last-child {
        width: 20%;
        height: 80px;
        display: flex;
        align-items: center;
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}

/* nav */
.nav__left.logo {
  color: white;
}

.nav__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .nav__form-tab {
    height: 80px;
    display: flex;
    align-items: center;
    button,
    a {
      font-size: 16px;
      color: white;
      margin: 0 15px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    button.active {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      line-height: 38px;
    }
  }
  .nav__form-formBox {
    display: flex;
    justify-content: center;
    width: 850px;
    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      background: white;
      border-radius: 60px;
      box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important;
      &.active {
        background: #f7f7f7;
      }
      & > div {
        display: flex;
        align-content: center;
        .formBox-tab {
          padding: 0 24px;
          width: 100%;
          height: 66px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 60px;
          position: relative;
          &.active {
            background: white !important;
            width: 76% !important;
            box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
          }
          label {
            margin-bottom: 4px;
            font-size: 13px;
            font-weight: 600;
          }
          button {
            text-align: left;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
          }
          &:hover {
            background: #e9e9e9;
          }
          &::after {
            content: "";
            width: 1px;
            height: 25px;
            background: #cfcfcf;
            position: absolute;
            right: 0;
          }
        }
        .nav__form-formBox-modal {
          display: none;
          position: absolute;
          top: 80px;
          left: 0;
          width: 850px;
          padding: 30px 30px;
          border-radius: 32px;
          box-sizing: border-box;
          background: white;
          flex-direction: column;
          box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
          &.active {
            display: flex;
          }
        }
      }
      .formBox__place {
        width: 32%;
        .formBox-tab {
          padding-left: 34px !important;
        }
        input {
          background: none;
          border: none;
        }
      }
      .formBox__checkInOut {
        width: 42%;
      }
      .formBox__guest {
        width: 26%;
      }
      .searchBtn {
        position: absolute;
        right: 10px;
        top: 9px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ff385c;
        color: white;
        span {
          display: none;
        }
        &.active {
          width: 90px;
          border-radius: 30px;
          span {
            display: block;
            font-weight: bold;
            margin: 0 5px 0 7px;
          }
        }
      }
    }
  }
}

.nav__right {
  & > a,
  button {
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: white;
  }
  & > a {
    margin-right: -5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.5pxl;
  }
  .right-bundle {
    padding: 0 13px;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .nav__right-myBtn {
    background: white;
    display: flex;
    align-items: center;
    padding: 0 8px 0 12px;
    margin-left: 10px;
    .fa-bars {
      margin: 0 8px 0 3px;
      color: black;
    }
    .fa-user-circle {
      font-size: 29px;
      color: #717171;
    }
  }
  .nav__right-myBtn-modal {
    display: none;
    background: white;
    position: absolute;
    top: 130px;
    border-radius: 13px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.11);
    &.active {
      display: block;
    }
    ul {
      border-bottom: 1px solid #e9e9e9;
      width: 240px;
      padding: 10px 0;
      &:last-child {
        border-bottom: 0;
      }
      li {
        a {
          width: 100%;
          color: black;
          box-sizing: border-box;
          padding: 13px 20px;
          font-size: 14px;
          &:hover {
            background: #efefef;
          }
          b {
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* nav__form-formBox-modal */
.modal-place {
  width: 500px;
  justify-content: flex-start;
  span {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  button {
    border: 1px solid #ddd;
    padding: 20px 30px 20px 25px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px !important;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: #7e0197;
  }
}

.modal-checkInOut {
  align-items: center;
  .calendar-type {
    display: flex;
    justify-content: center;
    background: #ebebeb;
    padding: 5px 6px;
    border-radius: 50px;
    margin-bottom: 10px;
    button {
      padding: 8px 13px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: bold;
      transition: all 0.2s;
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
      &:active {
        font-weight: normal;
        font-size: 13.5px;
      }
      &.active {
        background: white !important;
      }
      &:first-child {
        margin-right: 2px;
      }
    }
  }
  .calendar-type__normal {
    width: 100%;
    margin: 30px 0;
    .calendar-box {
      .calendar-header {
        position: relative;
        .calendar-btn {
          button {
            position: absolute;
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 50%;
            font-size: 16px;
            cursor: pointer;
            &:hover {
              background: #efefef;
            }
          }
          .calendar-btn__prev {
            left: 20px;
          }
          .calendar-btn__next {
            right: 20px;
          }
          .year-month,
          .next-year-month {
            display: inline-block;
            width: 49%;
            box-sizing: border-box;
            text-align: center;
            font-size: 15px !important;
            font-weight: bold;
            letter-spacing: 0px;
            font-family: "roboto";
          }
        }
      }
      .calendar-main {
        display: flex;
        margin-top: 10px;
        & > div {
          display: inline-block;
          width: 48%;
          margin: 0 30px;
          .days {
            font-size: 13px;
            display: flex;
            margin: 25px 0 10px 0;
            .day {
              width: calc(100% / 7);
              text-align: center;
              color: #888;
              &:nth-child(7n + 1) {
                color: red;
              }
            }
          }
          .dates,
          .nextMonthDates {
            display: flex;
            flex-flow: row wrap;
            .date {
              width: calc(100% / 7);
              text-align: center;
              padding: 7px 0;
              font-weight: normal;
              line-height: 20px;
              font-size: 13px;
              &:nth-child(7n + 1) {
                color: red;
              }
              &:hover {
                background: #e9e9e9;
                box-sizing: border-box;
                width: 34px;
                margin: auto;
                border-radius: 50%;
              }
              &.active {
                background: black;
                width: 34px;
                color: white;
                font-weight: bold;
                margin: auto;
              }
              .other {
                color: #dfdfdf;
              }
              .today {
                font-weight: bold;
                font-size: 15px;
                line-height: 15px;
              }
            }
          }
        }
        .thisMonth {
          margin-left: 30px;
        }
        .nextMonth {
          margin-right: 30px;
        }
      }
    }
  }
  .calendar-type__flexible {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .schedule-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 40px;
      button {
        border: 1px solid #b0b0b0;
        padding: 10px 18px;
        font-size: 14px;
        border-radius: 30px;
        margin: 0 4px;
        &.checked {
          border: 1px solid black;
          box-shadow: 0 0 2px black;
          color: black;
          background: #f7f7f7;
        }
        &:hover {
          border-color: #222222;
        }
      }
    }
    .schedule-month-btn {
      width: 92%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0 23px;
        width: 114px;
        border: 1px solid #ccc;
        border-radius: 14px;
        color: #717171;
        span {
          font-size: 14px;
          font-weight: 300;
          margin-top: 15px;
        }
        &:hover {
          border-color: #222222;
        }
        &.checked {
          border: 1px solid black;
          box-shadow: 0 0 2px black;
          color: black;
          background: #f7f7f7;
        }
      }
    }
    & > span {
      margin-top: 30px;
      margin-bottom: 20px;
      color: #717171;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.modal-guest {
  width: 394px;
  right: 0;
  left: unset;
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #ebebeb;
      padding-left: 2px;
      &:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        color: #777;
      }
      .guest-age {
      }
      .guest-num {
        display: flex;
        align-items: center;
        button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #b0b0b0;
        }
        div {
          display: flex;
          justify-content: center;
          width: 30px;
          border: none;
        }
      }
    }
  }
}

/* header.fixed */
#header.fixed {
  #notice-bar {
    display: none;
  }
  nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
    .logo {
      color: #ff385c;
    }
    .nav__form {
      .nav__form-tab {
        display: none;
      }
      .nav__form-formBox {
        form {
          width: 300px;
          height: 48px;
          border: 1px solid #ddd;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08) !important;
          div {
            display: none;
          }
        }
      }
      .searchBtn {
        width: 34px;
        height: 34px;
        top: 7px;
        right: 8px;
        font-size: 15px;
      }
    }
    .nav__right {
      & > a,
      button {
        color: #222;
      }
      .right-bundle:hover {
        background: #f7f7f7;
      }
      .nav__right-myBtn {
        border: 1px solid #ddd;
      }
      .nav__right-myBtn-modal {
        top: 70px;
      }
    }
  }
}
.nav__form-formBox form .formBox__guest .formBox-tab::after,
.nav__form-formBox form .formBox-tab:hover::after,
.nav__form-formBox form .formBox-tab.active::after {
  display: none;
}
