header {
  width: 100%;
  z-index: 2;
  height: 58px;
  position: absolute;
  top: 0;
  #notice-bar {
    background-color: #222;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 100px rgba(0, 0, 0, 0.9);
    a {
      color: #a3a3a3;
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
      letter-spacing: -1px;
    }
  }
  nav {
    width: 100%;
    box-sizing: border-box;
    padding: $padding80;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    & > div {
      &:first-child,
      &:last-child {
        width: 20%;
        height: 80px;
        display: flex;
        align-items: center;
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        width: 60%;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}

/* nav */
.logo {
  max-height: 80px;
  background: url(../../img/logo_white_1.png) no-repeat left center;
  background-size: auto 32px;
  display: block;
}
.nav__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .nav__form-tab {
    height: 80px;
    display: flex;
    align-items: center;
    button,
    a {
      font-size: 16px;
      color: white;
      margin: 0 15px;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    button.active {
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      line-height: 38px;
    }
  }
  .nav__form-search {
    display: flex;
    position: relative;
    width: 850px;
    background: white;
    border-radius: 100px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    & > span {
      display: none;
      font-weight: bold;
      font-size: 0.9rem;
      position: absolute;
      line-height: 45px;
      padding: 0 20px;
    }
    &.active {
      background: #f7f7f7;
    }
    .form-search__form {
      width: 100%;
      display: none;
      grid-template-columns: 1.5fr 2fr 1.5fr;
      gap: 1px;
      align-items: center;
      &.active {
        display: grid;
      }
      & > div {
        border-radius: 100px;
        display: flex;
        &#checkInOut {
        }
        &.active {
          label {
            background: white;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            &:hover {
              background: white;
            }
            &::after {
              display: none !important;
            }
          }
          .tab-modal {
            display: flex;
          }
        }
        label {
          cursor: pointer;
          width: 100%;
          border-radius: 100px;
          padding: 14px 25px;
          display: flex;
          flex-direction: column;
          font-size: 13px;
          line-height: 16px;
          position: relative;
          &::after {
            content: "";
            width: 0.5px;
            height: 18px;
            background: #999;
            display: block;
            position: absolute;
            right: 0;
            top: 20px;
          }
          input,
          button {
            border: 0;
            margin: 0;
            padding: 0;
            background: none;
            text-align: left;
            color: #777;
          }
          &:hover {
            background: #ebebeb;
          }
        }
        .tab-modal {
        }
      }
    }
    & > button {
      position: absolute;
      top: 11px;
      right: 11px;
      background: $pink;
      color: white;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      text-align: center;
      transition: all 0.2s;
      &:after {
        display: none;
        margin-left: 5px;
        content: "검색";
        font-weight: bold;
      }
      &.active {
        padding: 0 15px;
        width: auto;
        display: flex;
        align-items: center;
        &:after {
          display: block;
        }
        span {
          margin-left: 5px;
          display: block;
        }
      }
    }
  }
}
.form-search__form > div:last-child label::after {
  display: none !important;
}

.nav__right {
  & > a,
  & > button {
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: white;
  }
  & > a {
    margin-right: -5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.5pxl;
  }
  .right-bundle {
    padding: 0 13px;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .nav__right-myBtn {
    background: white;
    display: flex;
    align-items: center;
    padding: 0 8px 0 12px;
    margin-left: 10px;
    .fa-bars {
      margin: 0 8px 0 3px;
      color: black;
    }
    .fa-user-circle {
      font-size: 29px;
      color: #717171;
    }
  }
  .nav__right-myBtn-modal {
    display: none;
    background: white;
    position: absolute;
    top: 130px;
    border-radius: 13px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.11);
    &.active {
      display: block;
    }
    ul {
      border-bottom: 1px solid #e9e9e9;
      width: 240px;
      padding: 10px 0;
      &:last-child {
        border-bottom: 0;
      }
      li {
        button,
        a {
          width: 100%;
          color: black;
          box-sizing: border-box;
          padding: 13px 20px;
          font-size: 14px;
          text-align: left;
          &:hover {
            background: #efefef;
          }
          b {
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* nav__form-formBox-modal */
.modal-place {
  width: 500px;
  justify-content: flex-start;
  span {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  button {
    border: 1px solid #ddd;
    padding: 20px 30px 20px 25px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px !important;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: #7e0197;
  }
}

.modal-checkInOut {
  align-items: center;
  .calendar-type {
    display: flex;
    justify-content: center;
    background: #ebebeb;
    padding: 5px 6px;
    border-radius: 50px;
    margin-bottom: 10px;
    button {
      padding: 8px 13px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: bold;
      transition: all 0.2s;
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
      &:active {
        font-weight: normal;
        font-size: 13.5px;
      }
      &.active {
        background: white !important;
      }
      &:first-child {
        margin-right: 2px;
      }
    }
  }
  .calendar-type__normal {
    width: 100%;
    margin: 30px 0;
    .calendar-box {
      .calendar-header {
        position: relative;
        .calendar-btn {
          button {
            position: absolute;
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 50%;
            font-size: 16px;
            cursor: pointer;
            &:hover {
              background: #efefef;
            }
          }
          .calendar-btn__prev {
            left: 20px;
          }
          .calendar-btn__next {
            right: 20px;
          }
          .year-month,
          .next-year-month {
            display: inline-block;
            width: 49%;
            box-sizing: border-box;
            text-align: center;
            font-size: 15px !important;
            font-weight: bold;
            letter-spacing: 0px;
            font-family: "roboto";
          }
        }
      }
      .calendar-main {
        display: flex;
        margin-top: 10px;
        & > div {
          display: inline-block;
          width: 48%;
          margin: 0 30px;
          .days {
            font-size: 13px;
            display: flex;
            margin: 25px 0 10px 0;
            .day {
              width: calc(100% / 7);
              text-align: center;
              color: #888;
              &:nth-child(7n + 1) {
                color: red;
              }
            }
          }
          .dates,
          .nextMonthDates {
            display: flex;
            flex-flow: row wrap;
            .date {
              width: calc(100% / 7);
              text-align: center;
              padding: 7px 0;
              font-weight: normal;
              line-height: 20px;
              font-size: 13px;
              &:nth-child(7n + 1) {
                color: red;
              }
              &:hover {
                background: #e9e9e9;
                box-sizing: border-box;
                width: 34px;
                margin: auto;
                border-radius: 50%;
              }
              &.active {
                background: black;
                width: 34px;
                color: white;
                font-weight: bold;
                margin: auto;
              }
              .other {
                color: #dfdfdf;
              }
              .today {
                font-weight: bold;
                font-size: 15px;
                line-height: 15px;
              }
            }
          }
        }
        .thisMonth {
          margin-left: 30px;
        }
        .nextMonth {
          margin-right: 30px;
        }
      }
    }
  }
  .calendar-type__flexible {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .schedule-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 40px;
      button {
        border: 1px solid #b0b0b0;
        padding: 10px 18px;
        font-size: 14px;
        border-radius: 30px;
        margin: 0 4px;
        &.checked {
          border: 1px solid black;
          box-shadow: 0 0 2px black;
          color: black;
          background: #f7f7f7;
        }
        &:hover {
          border-color: #222222;
        }
      }
    }
    .schedule-month-btn {
      width: 92%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 0 23px;
        width: 114px;
        border: 1px solid #ccc;
        border-radius: 14px;
        color: #717171;
        span {
          font-size: 14px;
          font-weight: 300;
          margin-top: 15px;
        }
        &:hover {
          border-color: #222222;
        }
        &.checked {
          border: 1px solid black;
          box-shadow: 0 0 2px black;
          color: black;
          background: #f7f7f7;
        }
      }
    }
    & > span {
      margin-top: 30px;
      margin-bottom: 20px;
      color: #717171;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.modal-guest {
  width: 394px;
  right: 0;
  left: unset;
  ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid #ebebeb;
      padding-left: 2px;
      &:last-child {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      p {
        font-size: 13px;
        color: #777;
      }
      .guest-age {
      }
      .guest-num {
        display: flex;
        align-items: center;
        button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #b0b0b0;
        }
        div {
          display: flex;
          justify-content: center;
          width: 30px;
          border: none;
        }
      }
    }
  }
}

/* header.fixed */
#header.fixed {
  #notice-bar {
    display: none;
  }
  nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px !important;
    padding-bottom: 40px;
    .logo {
      background: url(../../img/logo_1.png) no-repeat left center;
      background-size: auto 32px;
    }
    .nav__form {
      .nav__form-tab {
        button,
        a {
          color: black;
          &.active {
            border-color: black;
          }
        }
      }
      .nav__form-search {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        border: 1px solid #e9e9e9;
        &.active {
          box-shadow: none !important;
        }
        form {
          & > div.active {
            label {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
    .nav__right {
      & > a,
      button {
        color: #222;
      }
      .right-bundle:hover {
        background: #f7f7f7;
      }
      .nav__right-myBtn {
        border: 1px solid #ddd;
      }
      .nav__right-myBtn-modal {
        top: 70px;
      }
    }
  }
}
/* header.fixed + nav.active */
#header.fixed {
  nav.active {
    padding-bottom: 0;
    align-items: center;
    .nav__form {
      .nav__form-tab {
        display: none;
      }
      .nav__form-search {
        width: auto;
        min-width: 300px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        border: 1px solid #e9e9e9;
        background: white;
        & > span {
          display: block;
          &:after {
            content: "검색 시작하기";
          }
        }
        form {
          height: 45px;
          & > div {
            display: none;
          }
        }
        & > button {
          width: 34px;
          height: 34px;
          top: 6px;
          right: 7px;
          font-size: 0.85rem;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.nav__form-formBox form .formBox__guest .formBox-tab::after,
.nav__form-formBox form .formBox-tab:hover::after,
.nav__form-formBox form .formBox-tab.active::after {
  display: none;
}

/* header tap-modal */
.tab-modal {
  display: none;
  position: absolute;
  max-width: 100%;
  left: 0;
  top: 75px;
  padding: 35px 30px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  &.where {
    flex-direction: column;
    p {
      font-size: 0.75rem;
      margin-bottom: 20px;
    }
    a {
      display: flex;
      justify-content: space-between;
      width: 400px;
      padding: 20px 25px;
      border-radius: 30px;
      color: purple;
      font-size: 1.2rem;
      font-weight: bold;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
    }
  }
  &.when {
    width: 100%;
    flex-direction: column;
    .calendar-tab {
      width: 158px;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-bottom: 30px;
      background: #e9e9e9;
      border-radius: 25px;
      padding: 5px;
      button {
        border-radius: inherit;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 8px 10px;
        &.active {
          background: white;
        }
      }
      .tab__calendar {
      }
      .tab__schedule {
      }
    }
    .calendar-cont {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 20px;
      .calendar__header {
        display: flex;
        gap: 30px;
        width: 100%;
        position: relative;
        button {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #e9e9e9;
          top: -7px;
          &.go-prev {
            left: 12px;
          }
          &.go-next {
            right: 12px;
          }
          &:hover {
            background: #cfcfcf;
            color: white;
          }
        }
        & > div {
          width: 50%;
          text-align: center;
          &.year-month {
          }
          &.next-year-month {
          }
        }
      }
      .calendar__body {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        & > div {
          width: 50%;
          .days,
          .dates,
          .next-month-dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-content: center;
            text-align: center;
            .day {
              font-weight: bold;
              margin-bottom: 20px;
            }
            .date {
              width: 30px;
              height: 30px;
              margin: auto;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #444;
              &.today {
                background: #777;
                color: white;
              }
              &.checkin,
              &.checkout {
                background: black;
                color: white;
              }
              &.other {
                color: #cfcfcf;
              }
            }
          }
        }
      }
    }
  }
  &.guest {
    flex-direction: column;
    left: auto;
    right: 0;
    .guest-tab {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 15px;
      }
      p {
        width: 230px;
        color: #777;
        font-size: 0.85rem;
        b {
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: bold;
          color: black;
        }
      }
      .tab__count {
        display: flex;
        align-items: center;
        button {
          width: 33px;
          height: 33px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #999;
          border: 1px solid #ccc;
          font-size: 1.3rem;
          &:hover {
            border-color: black;
            color: black;
          }
          &.inactive {
            opacity: 0.4;
            cursor: default;
            &:hover {
              border: 1px solid #cfcfcf;
              color: #999;
            }
          }
        }
        input {
          width: 35px;
          text-align: center;
          outline: none;
          border: none;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }
        }
      }
    }
  }
}

@media (max-width: $large) {
  #header {
    nav {
      padding: $padding40;
      & > div {
        &:first-child,
        &:last-child {
          width: 30%;
        }
        &:nth-child(2) {
          width: 40%;
        }
      }
      .nav__form {
        .nav__form-tab {
          button,
          a {
            font-weight: bold;
            font-size: 0.9rem;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .logo {
    background: url(../../img/logo_white_2.png) no-repeat left center;
    background-size: auto 32px;
  }
  #header.fixed {
    nav {
      .logo {
        background: url(../../img/logo_2.png) no-repeat left center;
        background-size: auto 32px;
      }
    }
  }
}

@media (max-width: $medium) {
  #header {
    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > div {
        &:first-child,
        &:last-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 100%;
          order: 3;
          grid-column: span 2;
        }
      }
      .nav__form {
        .nav__form-search {
          width: 100%;
        }
      }
    }
    &.fixed {
      nav {
        &.active {
          .nav__form {
            .nav__form-search {
              position: absolute;
              top: 16px;
              left: 95px;
            }
          }
        }
      }
    }
  }
  .nav__form {
    .nav__form-tab {
      align-items: baseline;
      height: 60px;
    }
  }
}

@media (max-width: $small) {
  #header {
    nav {
      padding: 0 25px;
      .logo,
      .nav__right {
        display: none;
      }
      .nav__form {
        margin-top: 20px;
        .nav__form-tab {
          display: none;
        }
        .nav__form-search {
          align-items: center;
          justify-content: center;
          form {
            display: none;
          }
          & > button {
            position: relative;
            width: 100%;
            left: 0;
            top: 0;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            padding: 5px 0;
            font-size: 100%;
            transition: none;
            i {
              color: $pink;
            }
            &:after {
              display: block;
              font-weight: bold;
              font-size: 0.9rem;
              content: "어디로 여행가세요?";
              color: black;
            }
          }
          & > span {
            display: block;
            position: relative;
            padding: 0;
          }
        }
      }
    }
    &.fixed {
      nav {
        &.active {
          padding: 0 20px 20px;
          height: auto;
          .nav__form {
            .nav__form-search {
              position: relative;
              top: 0;
              left: 0;
              height: 52px;
              button {
                top: 0;
                right: 0;
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
