/* host__header */
#host__header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 34px;
  width: 100%;
  top: 36px;
  position: absolute;
  z-index: 10;
  .logo {
    width: 64px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url(../../img/logo_white_2.png) no-repeat center;
    background-size: auto 32px;
    svg {
      fill: white;
    }
    &:hover {
      background-color: rgba(247, 247, 247, 0.2);
    }
  }
  .header__right {
    display: none;
    position: relative;
    right: 48px;
    .super-btn {
      background: white;
      padding: 0 20px 0 10px;
      border: 1px solid #cfcfcf;
      border-radius: 30px;
      font-weight: bold;
      transition: transform 0.3s, box-shadow 0.3s;
      margin-right: 40px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      &::before {
        content: "";
        background-image: url(https://a0.muscache.com/im/pictures/c131fb36-f46a-464f-ad2f-087ebf88078d.jpg);
        background-size: 30px 30px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 10px;
      }

      &:active {
        transform: scale(95%);
        background: #e9e9e9;
      }
      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 80px;
    padding: 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    .logo {
      position: relative;
      top: -3px;
      left: 34px;
      background: url(../../img/logo_black_2.png) no-repeat center;
      background-size: auto 32px;
      svg {
        fill: black;
      }
    }
    .header__right {
      display: flex;
    }
  }
}

/* host__main */
#host__main {
  padding-top: 0;
  .host__content-title {
    letter-spacing: -1px;
    padding-top: 160px;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 4.4em;
    line-height: 1.15em;
  }
  #host__main-screen,
  #host__end-screen {
    background-color: black;
    height: 100vh;
    display: flex;
    & > div {
      width: 50%;
    }
  }
  .main-screen__left {
    h1 {
      color: white;
      margin: 0 0 55px 0;
      letter-spacing: -1px;
      text-align: center;
      font-size: 4.6em;
      line-height: 1.1em;
    }
    button {
      background: #ff385c;
      color: white;
      font-weight: bold;
      padding: 16px 24px;
      border-radius: 8px;
      font-size: 1.1em;
    }
    a {
      color: white;
      position: absolute;
      bottom: 50px;
    }
  }
  .main-screen__left,
  .end-screen__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-screen__right,
  .end-screen__left {
    position: relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
    & > div {
      button {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        &.active {
          display: flex;
        }
      }
    }
    .main-screen__video-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 54px;
      left: 8%;
    }
  }
  /* host & end video screen - e */
  #content__start-hosting {
    position: relative;
    .start-hosting__host {
      position: relative;
      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .host-wrap {
        width: calc(100% - 80px);
        overflow: hidden;
        margin-left: 80px;
        ul {
          position: relative;
          display: flex;
          width: 200%;
          transition: transform 0.3s;
          li {
            width: 33.333%;
            .item-img {
              width: 100%;
              padding-bottom: 100%;
              position: relative;

              img {
                width: 94%;
                height: 94%;
                margin: 3%;
                position: absolute;
                object-fit: cover;
                border-radius: 10px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
              }
            }
            .item-text {
              width: 90%;
              margin: 20px auto 0;
              opacity: 0;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              transition: opacity 0.3s;
              p {
                width: 100%;
                font-size: 1.7em;
                line-height: 1.2;
              }
              img {
                height: 35px;
                margin: 20px 0;
                object-fit: contain;
              }
            }
            &.active {
              .item-text {
                opacity: 1;
              }
            }
          }
        }
      }
      .host-btn {
        width: 30%;
        bottom: 30px;
        position: absolute;
        left: calc(30% + 80px + 20px);
        button {
          position: absolute;
          bottom: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #ebebeb;
          color: #444;
          &:hover {
            background: #cfcfcf;
          }
          &:disabled {
            opacity: 0.5;
            cursor: auto;
            &:hover {
              background: #ebebeb;
            }
          }
          &.host-list__prev {
            right: 45px;
          }
          &.host-list__next {
            right: 0;
          }
        }
      }
    }
    .start-hosting__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 160px;
      box-sizing: border-box;
      padding: 0 48px;
      text-align: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          font-weight: bold;
          color: #717171;
          margin-bottom: 10px;
          font-size: 3em;
        }
        select {
          background: none;
          border: none;
          font-weight: bold;
          margin-bottom: 30px;
          border-bottom: 2px solid black;
          color: black;
          font-size: 3em;
        }
      }
      h1 {
        margin: 30px 0 60px 0;
        font-size: 2.8em;
      }
      button {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
  /* start-hosting - e */
  #content__super-host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 0 48px;
    height: 50vw;
    position: relative;
    img {
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .super-host__text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 48px;
      h1 {
        padding: 0;
        color: white;
      }
      button {
        background: white;
        padding: 16px 30px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
  /* super-host - e */
  #content__hosting-info {
    .hosting-info__content {
      padding: $hostPadding48;
      margin-bottom: 220px;
      .hosting-info__content-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
        .hosting-info__content-item {
          box-sizing: border-box;
          img {
            width: 100%;
            height: 338px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
          }
          p {
            font-weight: bold;
            font-size: 1.8em;
            i {
              margin-left: 15px;
              vertical-align: baseline;
            }
          }
        }
      }
    }
  }
  /* hosting-info - e */
  #host__end-screen {
    .end-screen__left {
      .end-screen__video-text {
        position: absolute;
        bottom: 50px;
        left: 60px;
        button {
          margin: 0;
        }
      }
    }
    .end-screen__right {
      h1 {
        color: white;
        margin: 0 0 32px 0;
        letter-spacing: -1px;
        font-size: 3.4em;
        line-height: 1.2em;
      }
      p {
        color: white;
        max-width: 360px;
        margin-bottom: 50px;
        font-size: 1.2em;
        line-height: 1.5em;
      }
      button {
        margin-bottom: 48px;
        font-size: 1.15em;
      }
    }
  }
  /* end-screen - e */
}

/* start-btn */
.start-btn {
  padding: 16px 24px;
  border-radius: 8px;
  background: #ff385c;
  color: white;
  font-weight: bold;
}

/*responsive*/
@include desktop {
  #host__main {
    #content__start-hosting {
      .start-hosting__host {
        .host-wrap {
          width: calc(100% - 40px);
          margin-left: 40px;
          ul {
            width: 360%;
            gap: 20px;
            li {
              .item-img {
                img {
                  width: 100%;
                  height: 100%;
                  margin: inherit;
                }
              }
              .item-text {
                margin-top: 50px;
                width: 100%;
              }
            }
          }
        }
        .host-btn {
          left: 30%;
          bottom: 20px;
        }
      }
    }
    #content__super-host {
      .super-host__text {
        h1 {
          font-size: 5vw;
        }
      }
    }
    #content__hosting-info {
      .hosting-info__content {
        margin-bottom: 100px;
        .hosting-info__content-item {
          p {
            font-size: 1.2em !important;
          }
        }
      }
    }
  }
}

@include max900 {
  #host__main {
    .host__content-title {
      padding-top: 100px;
    }
    #host__main-screen,
    #host__end-screen {
      & > div {
        width: 100%;
      }
    }
    #host__main-screen {
      flex-direction: column-reverse;
      position: relative;
      .main-screen__left {
        background: white;
        padding: 40px 40px 0;
        border-radius: 12px 12px 0 0;
        position: absolute;
        top: 70%;
        height: 30%;
        z-index: 1;
        justify-content: space-between;
        align-items: flex-start;
        h1 {
          color: black;
          text-align: left;
          margin-bottom: 0;
        }
        button {
          display: none;
        }
        a {
          color: #777;
          bottom: inherit;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .main-screen__right {
        height: calc(70% + 12px);
        margin-bottom: auto;
      }
    }
    #host__end-screen {
      flex-direction: column;
      position: relative;
      .end-screen__left {
        height: calc(45% + 12px);
        margin-bottom: auto;
        .end-screen__video-text {
          bottom: 25px;
          left: 40px;
        }
      }
      .end-screen__right {
        padding: 40px 40px;
        border-radius: 12px 12px 0 0;
        position: absolute;
        height: 55%;
        top: 45%;
        background: black;
        z-index: 1;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        h1 {
          font-size: 2.3em;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: auto;
        }
        button {
          margin-bottom: 0;
        }
      }
    }
  }
}

@include tablet {
  #host__header {
    .logo {
      display: none;
    }
    &.fixed {
      background: none;
      box-shadow: none;
      .header__right {
        right: 0;
        .super-btn {
          position: fixed;
          top: 20px;
          right: 20px;
          margin-right: 0;
          padding: 8px 10px;
          &::before {
            display: none;
          }
        }
        & > div {
          width: 100%;
          padding: 25px;
          bottom: 0;
          position: fixed;
          background: white;
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
          .start-btn {
            width: 100%;
            font-size: 1.1em;
          }
        }
      }
    }
  }
  #host__main {
    .host__content-title {
      font-size: 5.7vw;
    }
    #host__main-screen {
      height: calc(100vh - 97px);
      .main-screen__left {
        h1 {
          font-size: 3.2em;
        }
      }
    }
    #content__hosting-info {
      .hosting-info__content {
        padding: 0 25px;
        .hosting-info__content-list {
          display: flex;
          flex-direction: column;
          .hosting-info__content-item {
            margin-bottom: 10px;
            p {
              font-size: 1.05em !important;
              letter-spacing: -0.05em;
            }
          }
        }
      }
    }
    #content__start-hosting {
      .start-hosting__host {
        .host-wrap {
          ul {
            li {
              .item-text {
                margin-top: 30px;
              }
            }
          }
        }
      }
      .start-hosting__form {
        font-size: 1.85vw;
        line-height: 1.3;
      }
    }
    #content__super-host {
      min-height: 520px !important;
      .super-host__text {
        h1 {
          font-size: 2.2em;
        }
      }
    }
  }
}

@include mobile {
  #host__main {
    .host__content-title {
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 40px;
      text-align: left;
    }
    #host__main-screen {
      .main-screen__left {
        padding: 25px 25px 0;
        h1 {
          font-size: 2.85em;
        }
        a {
          bottom: 3vh;
        }
      }
    }
    #content__start-hosting {
      .start-hosting__host {
        .host-wrap {
          width: calc(100% - 25px);
          margin-left: 25px;
          ul {
            width: 480%;
            li {
              .item-text {
                p {
                  font-size: 1.3em;
                }
              }
            }
          }
        }
        .host-btn {
          left: inherit;
          right: 23%;
        }
      }
      .start-hosting__form {
        padding: 0 25px;
        margin-top: 100px;
        align-items: flex-start;
        font-size: 1.85vw;
        line-height: 0.7;
        form {
          align-items: flex-start;
          label {
            font-weight: normal;
          }
          select {
            border-bottom: 1px solid black;
            margin-bottom: 40px;
          }
        }
        h1 {
          text-align: left;
          font-size: 3.1em;
          line-height: 1.3;
          margin-bottom: 40px;
          margin-top: 0;
        }
        button {
          font-size: 2em;
        }
      }
    }
    #content__super-host {
      margin-top: 50px;
      padding: 25px;
      height: calc(100vh - 97px);
      .super-host__text {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        margin-top: 25px;
        padding: 50px 25px;
        justify-content: space-between;
        h1 {
          font-size: 2.4em;
          margin: auto;
          text-align: center;
        }
        button {
          width: 100%;
        }
      }
    }
    #host__end-screen {
      .end-screen__left {
        height: calc(55% + 12px);
        .end-screen__video-text {
          left: 25px;
        }
      }
      .end-screen__right {
        padding: 25px 25px 0;
        height: 45%;
        top: 55%;
        button {
          display: none;
        }
      }
    }
  }
}

@include mobileSmall {
  #host__main {
    .host__content-title {
      padding-top: 70px;
      font-size: 7vw;
    }
    #content__start-hosting {
      .start-hosting__form {
        font-size: 2vw;
      }
    }
    #content__super-host {
      .super-host__text {
        h1 {
          font-size: 2.2em;
        }
      }
    }
  }
}
