/* host__header */
#host__header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 34px;
  width: 100%;
  top: 36px;
  position: absolute;
  z-index: 10;
  .logo {
    width: 64px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url(../../img/logo_white_2.png) no-repeat center;
    background-size: auto 32px;
    svg {
      fill: white;
    }
    &:hover {
      background-color: rgba(247, 247, 247, 0.2);
    }
  }
  .header__right {
    display: none;
    position: relative;
    right: 48px;
    .super-btn {
      background: white;
      padding: 0 20px 0 10px;
      border: 1px solid #cfcfcf;
      border-radius: 30px;
      font-weight: bold;
      transition: transform 0.3s, box-shadow 0.3s;
      margin-right: 40px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      &::before {
        content: "";
        background-image: url(https://a0.muscache.com/im/pictures/c131fb36-f46a-464f-ad2f-087ebf88078d.jpg);
        background-size: 30px 30px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: block;
        margin-right: 10px;
      }

      &:active {
        transform: scale(95%);
        background: #e9e9e9;
      }
      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 80px;
    padding: 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    .logo {
      position: relative;
      top: -3px;
      left: 34px;
      background: url(../../img/logo_black_2.png) no-repeat center;
      background-size: auto 32px;
      svg {
        fill: black;
      }
    }
    .header__right {
      display: flex;
    }
  }
}

/* host__main */
#host__main {
  padding-top: 0;
  .host__content-title {
    letter-spacing: -1px;
    padding-top: 160px;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
  }
  #host__main-screen,
  #host__end-screen {
    background-color: black;
    height: 100vh;
    display: flex;
    & > div {
      width: 50%;
    }
  }
  .main-screen__left {
    h1 {
      color: white;
      margin: 0 0 55px 0;
      letter-spacing: -1px;
      text-align: center;
    }
    button {
      background: #ff385c;
      color: white;
      font-weight: bold;
      padding: 16px 24px;
      border-radius: 8px;
    }
    a {
      color: white;
      position: absolute;
      bottom: 50px;
    }
  }
  .main-screen__left,
  .end-screen__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-screen__right,
  .end-screen__left {
    position: relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
    & > div {
      button {
        background: rgba(0, 0, 0, 0.7);
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-bottom: 30px;
        &.active {
          display: flex;
        }
      }
    }
    .main-screen__video-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 54px;
      left: 8%;
      .video__host-item {
        display: none;
        img {
          height: 56px;
          object-fit: contain;
          margin-bottom: 20px;
        }
        span {
          color: white;
        }
        &.visible {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
  /* host & end video screen - e */
  #content__start-hosting {
    position: relative;
    .start-hosting__host {
      margin-left: 48px;
      width: calc(100% - 48px);
      overflow: auto;
      position: relative;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      & > ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-right: 20px;
        gap: 15px;
        position: relative;
        width: 200%;
        li {
          margin-left: 13px;
          margin-right: 4px;
          &.img {
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 8px;
            }
          }
          &.text {
            display: flex;
            opacity: 0;
            flex-direction: column;
            align-items: flex-start;
            &.active {
              opacity: 1;
            }
            p {
              margin: 48px 0 34px 0;
              opacity: 0.9;
            }
            img {
              height: 32px;
              width: auto;
            }
            span {
              margin-top: 24px;
              opacity: 0.6;
            }
          }
        }
      }
      button {
        position: absolute;
        bottom: 30px;
        width: 32px;
        height: 32px;
        background: #ebebeb;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.host-list__prev {
          right: calc(34.5% + 50px);
        }
        &.host-list__next {
          right: 34.5%;
        }
      }
    }
    .start-hosting__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 160px;
      box-sizing: border-box;
      padding: 0 48px;
      text-align: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          font-weight: bold;
          color: #717171;
          margin-bottom: 10px;
        }
        select {
          background: none;
          border: none;
          font-weight: bold;
          margin-bottom: 30px;
          text-decoration: underline;
        }
      }
      h1 {
        margin: 30px 0 80px 0;
      }
      button {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  /* start-hosting - e */
  #content__super-host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    padding: 0 80px;
    height: 100vh;
    position: relative;
    img {
      border-radius: 10px;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .super-host__text {
      position: absolute;
      top: 0;
      text-align: center;
      h1 {
        padding-top: 38vh;
        color: white;
      }
      button {
        background: white;
        padding: 16px 24px;
        border-radius: 8px;
        font-weight: bold;
      }
    }
  }
  /* super-host - e */
  #content__hosting-info {
    .hosting-info__content {
      padding: $hostPadding48;
      margin-bottom: 220px;
      .hosting-info__content-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
        .hosting-info__content-item {
          box-sizing: border-box;
          img {
            width: 100%;
            height: 338px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
          }
          p {
            font-weight: bold;
            i {
              margin-left: 15px;
              vertical-align: 2px;
            }
          }
        }
      }
    }
  }
  /* hosting-info - e */
  #host__end-screen {
    .end-screen__left {
      .end-screen__video-text {
        position: absolute;
        bottom: 0;
        left: 60px;
      }
    }
    .end-screen__right {
      h1 {
        color: white;
        margin: 0 0 32px 0;
        letter-spacing: -1px;
      }
      p {
        color: white;
        width: 46%;
        margin-bottom: 50px;
      }
      button {
        margin-bottom: 48px;
      }
    }
  }
  /* end-screen - e */
}

/* start-btn */
.start-btn {
  padding: 16px 24px;
  border-radius: 8px;
  background: #ff385c;
  color: white;
  font-weight: bold;
}

@media (max-width: $large) {
  #host__header {
    .logo {
      background-position: center;
    }
  }
  #host__main {
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    #content__start-hosting {
      .start-hosting__host {
        margin-left: 40px;
        width: calc(100% - 40px);
        ul {
          width: 360%;
          left: -60%;
          li {
            margin-left: 0;
            margin-right: 3.7%;
          }
        }
        button {
          &.host-list__prev {
            right: calc(25% + 50px);
          }
          &.host-list__next {
            right: 25%;
          }
        }
      }
    }
    #content__super-host {
      padding: 0 50px;
      img {
        height: auto;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
      }
      .super-host__text {
        h1 {
          padding-top: 30vh;
        }
      }
    }
    #host__end-screen {
      .end-screen__right {
        p {
          width: 72%;
        }
      }
    }
  }
}

@media (max-width: $medium) {
  #host__header {
    .header__right {
      right: 34px;
      .super-btn {
        position: fixed;
        height: 48px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  #host__main {
    #host__main-screen {
      position: relative;
      & > div {
        width: 100%;
        &:first-child {
          position: absolute;
          background: white;
          border-radius: 10px 10px 0 0;
          bottom: -13%;
          z-index: 3;
          align-items: flex-start;
          padding: 40px;
          h1 {
            color: black;
            text-align: left;
            margin: 0;
          }
          button {
            display: none;
          }
          a {
            color: #ccc;
            left: 50%;
            top: 15px;
            transform: translateX(50%);
          }
        }
        &:last-child {
          .main-screen__video-text {
            bottom: calc(14% + 150px);
          }
        }
      }
    }
    #content__start-hosting {
      .start-hosting__host {
        ul {
          li {
            margin-right: 0.6%;
          }
        }
      }
    }
    #content__super-host {
      height: 50vh;
      margin: 90px 0;
      .super-host__text {
        h1 {
          padding-top: 10.5vh;
          margin-bottom: 60px;
        }
      }
    }
    #host__end-screen {
      position: relative;
      & > div {
        width: 100%;
        &:first-child {
          .end-screen__video-text {
            bottom: calc(50% - 40px);
            left: 50px;
          }
        }
        &:last-child {
          position: absolute;
          background: black;
          border-radius: 10px 10px 0 0;
          z-index: 3;
          align-items: flex-start;
          padding: 40px;
          bottom: 0;
          h1 {
            text-align: left;
            margin-bottom: 20px;
          }
          p {
            text-align: left;
            width: 55%;
          }
          button {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $small) {
  #host__header {
    top: 0;
    .logo {
      display: none;
    }
    .header__right {
      display: block;
      .super-btn {
        margin-right: 20px;
        padding: 6px 10px;
        transform: none;
        left: initial;
        right: 0;
        height: auto;
        display: block;
        &::before {
          display: none;
        }
      }
      .start-btn {
        width: 100%;
        background: white;
        position: fixed;
        bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15);
        span {
          display: block;
          border-radius: 10px;
          width: 100%;
          padding: 15px;
          background: $pink;
          color: white;
          font-weight: bold;
        }
      }
    }
    &.fixed {
      display: none;
    }
  }
  #host__main {
    .host__content-title {
      text-align: left;
      margin: $padding25;
      margin-bottom: 30px;
      padding-top: 0;
    }
    #host__main-screen {
      background: none;
      & > div {
        width: 100%;
        &:first-child {
          height: 50%;
          padding: 25px;
          bottom: 0;
          justify-content: space-between;
          h1 {
            text-align: left;
            margin-bottom: 20px;
          }
          a {
            top: 9rem;
          }
        }
        &:last-child {
          height: 55%;
          .main-screen__video-text {
            bottom: 15%;
            left: 25px;
          }
        }
      }
    }
    #content__start-hosting {
      .start-hosting__host {
        margin-left: 25px;
        width: calc(100% - 25px);
        overflow: auto;
        ul {
          width: 480%;
          left: -80%;
          li {
            &.text {
              p {
                letter-spacing: -1px;
                br {
                  display: none;
                }
              }
            }
          }
        }
        button {
          display: none;
        }
      }
      .start-hosting__form {
        padding: $padding25;
        align-items: flex-start;
        text-align: left;
        margin-top: 140px;
        form {
          align-items: flex-start;
          label {
            font-weight: 100;
          }
          select {
          }
        }
        h1 {
          margin: 10px 0 30px;
        }
      }
    }
    #content__super-host {
      padding: $padding25;
      margin: 80px 0;
      height: 70vh;
      img {
        height: 100%;
      }
      .super-host__text {
        h1 {
          padding-left: 25px;
          padding-right: 25px;
          text-align: center;
          margin: 12vh 0 8vh;
          br {
            display: none;
          }
        }
        button {
          width: calc(100% - 15% - 50px);
        }
      }
    }
    #content__hosting-info {
      height: 100vh;
      .host__content-title {
        text-align: center;
        padding-top: 160px;
      }
      .hosting-info__content {
        padding: $padding25;
        .hosting-info__content-list {
          grid-template-columns: 1fr;
          .hosting-info__content-item {
            &:first-child {
              padding-bottom: 20px;
              border-bottom: 1px solid #ccc;
            }
            a {
              display: flex;
              align-items: center;
              img {
                width: 60px;
                height: 60px;
                margin: 0;
              }
              p {
                display: flex;
                align-items: center;
                margin-left: 15px;
                i {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    #host__end-screen {
      & > div {
        &:first-child {
          height: 55%;
          .end-screen__video-text {
            left: 25px;
            bottom: 30px;
          }
        }
        &:last-child {
          height: 50%;
          border-radius: 10px 10px 0 0;
          padding: 25px;
          display: block;
          text-align: left;
          h1 {
          }
          p {
            width: 100%;
          }
          button {
            display: none;
          }
        }
      }
    }
    .main-screen__right,
    .end-screen__left {
      .main-screen__video-text {
        .video__host-item {
          img {
            height: 35px !important;
          }
        }
      }
      & > div {
        button {
          margin-bottom: 15px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
