main {
  padding-top: 58px;
  word-break: keep-all !important;
  #main-screen {
    text-align: center;
    background: url(https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560)
      no-repeat center bottom;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 186px;
    padding-bottom: 40px;
    span {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      &:after {
        content: "어디든 상관없이 떠나고 싶을 때 에어비앤비가 도와드립니다!";
      }
    }
    button {
      background: white;
      padding: 23px 55px;
      letter-spacing: -0.5px;
      font-weight: bold;
      color: #8c12c4;
      border-radius: 50px;
      font-size: 18px;
      box-shadow: 0px 6px 16px rgb(0 0 0 / 12%) !important;
    }
  }
  section {
    padding: 0 80px;
    margin: 24px 0;
    h2 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
      line-height: 52px;
    }
    & > div {
      padding-bottom: 25px;
    }
  }
}

/* nearTrip */
.content__nearTrip {
  .content__nearTrip-box {
    .nearTrip__list {
      padding: 8px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-content: space-between;
      gap: 15px;
      .nearTrip__item {
        a {
          display: flex;
          .nearTrip__item-img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 8px;
            margin-right: 14px;
          }
          .nearTrip__item-text {
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              margin-bottom: 5px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
/* liveTrip */
.content__liveTrip {
  margin: 40px 0;
  position: relative;
  .content__liveTrip-box {
    margin: 8px 0;
    .liveTrip__item-text {
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    &.liveTrip__prev {
      left: 20px;
    }
    &.liveTrip__next {
      right: 20px;
    }
  }
}

/* startHosting */
.content__startHosting {
  height: 480px;
  .content__startHosting-box {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://a0.muscache.com/im/pictures/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg?im_w=1440)
      no-repeat center;
    background-size: cover;
    background-color: #201c1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 80px;
    box-sizing: border-box;
    border-radius: 16px;
    h1 {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 12px;
      font-weight: bold;
      letter-spacing: -0.6px;
    }
    p {
      width: 340px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    span {
      background: white;
      color: black;
      font-weight: bold;
      font-size: 15px;
      padding: 14px 0;
      width: 163px;
      text-align: center;
      border-radius: 8px;
    }
  }
}

/* enjoyTrip */
.content__enjoyTrip {
  padding-top: 32px;
  margin-bottom: 40px;
  .enjoyTrip__item {
    .enjoyTrip__item-text {
      span {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
        display: block;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

/* list-thema - liveTrip & enjoyTrip class */
.list-thema {
  & > div {
    ul {
      display: grid;
      gap: 15px;
      &.liveTrip__list {
        grid-template-columns: repeat(4, 1fr);
      }
      &.enjoyTrip__list {
        grid-template-columns: repeat(3, 1fr);
      }
      li {
        a {
          display: flex;
          flex-direction: column;
          margin: 4px 6px 4px 0;
          img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

@media (max-width: $large) {
  main {
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    section {
      padding: $padding40;
      &.content__nearTrip {
        .content__nearTrip-box {
          width: 100%;
          overflow: auto;
          .nearTrip__list {
            grid-template-rows: repeat(2, 1fr);
            grid-auto-flow: column; //정렬변경
            padding: 0;
            width: 135%;
            .nearTrip__item {
              a {
                .nearTrip__item-img {
                  width: 70px;
                  height: 70px;
                }
              }
            }
          }
        }
      }
      &.content__liveTrip {
        .content__liveTrip-box {
          .liveTrip__list {
            width: 135%;
            .liveTrip__item {
            }
          }
        }
        button {
          display: flex;
        }
      }
      &.content__startHosting {
        height: 360px;
        .content__startHosting-box {
          padding: 0 40px;
          h1 {
            font-size: 1.9rem;
            margin: 0;
          }
          p {
            width: 280px;
            font-size: 1rem;
            line-height: 1.3rem;
            margin-bottom: 20px;
          }
          span {
            padding: 12px 0 9px;
            width: 135px;
          }
        }
      }
      &.list-thema {
        & > div {
          overflow: auto;
        }
      }
    }
  }
}

@media (max-width: $medium) {
  main {
    section {
      h2 {
        font-size: 1.6rem;
      }
    }
    #main-screen {
      height: 90vw;
    }
  }
}

@media (max-width: $small) {
  header {
    #notice-bar {
      a {
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0 30px !important;

        text-align: center;
      }
    }
  }
  main {
    section {
      padding: 0 25px;
      h2 {
        margin: 30px 0 10px;
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 88%;
        letter-spacing: -0.5px;
      }
    }
    #main-screen {
      height: calc(100vh - 58px);
      padding-top: 14vh;
      span {
        width: 188px;
        white-space: pre-line !important;
        line-height: 1.3rem;
        &:after {
          content: "에어비앤비가 여행지를 찾아드릴게요!";
        }
      }
      button {
        padding: 15px 30px;
      }
    }
    .content__nearTrip {
      padding: 0;
      h2 {
        padding-left: 25px;
      }
      .content__nearTrip-box {
        padding-left: 25px;
        width: 100%;
        overflow: auto;
        .nearTrip__list {
          width: 280%;
          padding-right: 25px !important;
          .nearTrip__item:nth-last-child(n + 1):nth-last-child(-n + 2) {
            display: flex !important;
          }
        }
      }
    }
    .content__liveTrip {
      .content__liveTrip-box {
        width: 100%;
        overflow: auto;
      }
      & > button {
        display: none !important;
      }
    }
    .content__startHosting {
      height: 78vh !important;
      max-height: 110vw;
      margin-bottom: 50px;
      .content__startHosting-box {
        background: url(https://a0.muscache.com/im/pictures/791aba62-2de8-4722-99b5-45838715eb34.jpg?im_q=medq&im_w=720)
          no-repeat center bottom;
        background-size: contain;
        background-color: #201c1b;
        justify-content: flex-start;
        align-items: center;
        h1 {
          padding-top: 25px;
        }
        p {
          width: 100% !important;
          text-align: center;
        }
      }
    }
    .list-thema {
      padding: 0;
      h2 {
        padding-left: 25px;
      }
      ul {
        padding-right: 25px !important;
      }
      .content__liveTrip-box {
        padding-left: 25px;
        .liveTrip__list {
          width: 310% !important;
        }
      }
      .content__enjoyTrip-box {
        padding-left: 25px;
        .enjoyTrip__list {
          width: 240% !important;
        }
      }
    }
  }
}
