#main {
  background: black;
  padding-top: 58px;
  word-break: keep-all !important;
  section {
    width: 100%;
    padding: 0 80px;
    .wrapper {
      position: relative;
      .section-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 16px;
        line-height: 52px;
      }
    }
    & > div {
      padding-bottom: 25px;
    }
  }
}
/* main-screen */
.content__main {
  margin-top: 25vh;
  .wrapper {
    width: 100%;
    height: 100vh;
    .main-title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 300px;
      }
      button {
        padding: 20px 30px;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 1.2rem;
        font-weight: bold;
        i {
          margin-right: 8px;
          font-size: 1rem;
        }
      }
    }
    .main-sub-title {
      display: flex;
      justify-content: space-between;
      color: white;
      h4 {
        font-size: 1.7rem;
        font-weight: normal;
        margin: 0;
      }
      button {
        background: white;
        color: black;
        padding: 18px 25px 15px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 8px;
      }
    }
  }
}
/* search */
.content__search {
  background: white;
  .wrapper {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
  }
}
/* nearTrip */
.content__nearTrip {
}
/* experience */
.content__experience {
}
/* superhost */
.content__superhost {
}

@media (max-width: $large) {
  #main {
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    section {
    }
  }

  @media (max-width: $medium) {
    #main {
    }
  }

  @media (max-width: $small) {
    header {
      #notice-bar {
        a {
          font-size: 0.8rem;
          line-height: 1rem;
          padding: 0 30px !important;

          text-align: center;
        }
      }
    }
    #main {
      .content__main {
        height: calc(100vh - 58px);
        max-height: 130vw;
        padding-top: 14vh;
        span {
          width: 188px;
          white-space: pre-line !important;
          line-height: 1.3rem;
          &:after {
            content: "에어비앤비가 여행지를 찾아드릴게요!";
          }
        }
        button {
          padding: 15px 30px;
        }
      }
    }
  }
}
