main {
  padding-top: 58px;
  #main-screen {
    text-align: center;
    background: url(https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560)
      no-repeat center bottom;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 186px;
    padding-bottom: 40px;
    span {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    button {
      background: white;
      padding: 23px 55px;
      letter-spacing: -0.5px;
      font-weight: bold;
      color: #8c12c4;
      border-radius: 50px;
      font-size: 18px;
      box-shadow: 0px 6px 16px rgb(0 0 0 / 12%) !important;
    }
  }
  section {
    padding: 0 80px;
    margin: 24px 0;
    h2 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
      line-height: 52px;
    }
    & > div {
      padding-bottom: 25px;
    }
  }
}

/* nearTrip */
.content__nearTrip {
  .content__nearTrip-box {
    .nearTrip__list {
      padding: 8px;
      width: 100%;
      height: 144px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-content: space-between;
      gap: 15px;
      .nearTrip__item {
        a {
          display: flex;
          .nearTrip__item-img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 8px;
            margin-right: 14px;
          }
          .nearTrip__item-text {
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              margin-bottom: 5px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
/* liveTrip */
.content__liveTrip {
  margin: 40px 0;
  .content__liveTrip-box {
    margin: 8px 0;
    .liveTrip__item-text {
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

/* startHosting */
.content__startHosting {
  height: 480px;
  .content__startHosting-box {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://a0.muscache.com/im/pictures/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg?im_w=1440)
      no-repeat center;
    background-size: cover;
    background-color: #201c1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 80px;
    box-sizing: border-box;
    border-radius: 16px;
    h1 {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 12px;
      font-weight: bold;
      letter-spacing: -0.6px;
    }
    p {
      width: 340px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    span {
      background: white;
      color: black;
      font-weight: bold;
      font-size: 15px;
      padding: 14px 0;
      width: 163px;
      text-align: center;
      border-radius: 8px;
    }
  }
}

/* enjoyTrip */
.content__enjoyTrip {
  padding-top: 32px;
  margin-bottom: 40px;
  .enjoyTrip__item {
    .enjoyTrip__item-text {
      span {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
        display: block;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

/* list-thema - liveTrip & enjoyTrip class */
.list-thema {
  & > div {
    ul {
      display: grid;
      gap: 15px;
      &.liveTrip__list {
        grid-template-columns: repeat(4, 1fr);
      }
      &.enjoyTrip__list {
        grid-template-columns: repeat(3, 1fr);
      }
      li {
        a {
          display: flex;
          flex-direction: column;
          margin: 4px 6px 4px 0;
          img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  body {
    background: coral;
  }
}
@media screen and (min-width: $small) and (max-width: $medium) {
  body {
    background: cornflowerblue;
  }
}
@media screen and (min-width: $medium) and (max-width: $large) {
  body {
    background: lightgreen;
  }
}
