#search-header {
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  height: 160px;
  & > nav {
    background: white;
  }
  .global-nav {
    color: black;
    border-bottom: 1px solid #e9e9e9;
    .nav-right {
      & > a:first-child,
      & > button:nth-child(2) {
        color: black;
      }
      .user-btn {
        border: 1px solid #cfcfcf;
      }
    }
  }
  .local-nav {
    height: 84px;
    &.fixed {
      position: fixed;
      top: 0;
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    }
    .wrapper {
      display: flex;
      ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #f7f7f7;
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background: #dbdbdb;
        border-radius: 5px;
      }
      .local-nav-left {
        .filter-wrap {
          display: grid;
          grid-template-columns: auto 100px;
          align-items: center;
          margin-bottom: 5px;
          .filter-list {
            width: 100%;
            overflow: auto;
            ul {
              min-width: max-content;
              height: 80px;
              display: flex;
              align-items: center;
              li {
                margin-right: 5px;
                button {
                  font-weight: bold;
                  color: #555;
                  padding: 12px 13px;
                  font-size: 1.02em;
                  &:hover {
                    background: #f3f3f3;
                    border-radius: 8px;
                  }
                }
              }
            }
          }
          .more {
            position: relative;
            .more-btn {
              width: 100px;
              font-weight: bold;
              color: #555;
              padding: 12px 13px;
              font-size: 1.02em;
              &:hover {
                background: #f3f3f3;
                border-radius: 8px;
              }
            }
            .modal-more {
              position: absolute;
              display: none;
              padding: 25px;
              top: 50px;
              background: white;
              border-radius: 12px;
              box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
              width: max-content;
              height: fit-content;
              &.active {
                display: block;
              }
              ul {
                li:not(:last-child) {
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
      }
      .local-nav-right {
        margin-left: auto;
        min-width: 283px;
        width: auto;
        height: 80px;
        display: flex;
        align-items: center;
        .nav-right-tab {
          display: flex;
        }
        .when,
        .guest,
        .filter {
          margin-left: 10px;
          position: relative;
          & > button {
            padding: 10px 15px;
            border: 1px solid #e9e9e9;
            border-radius: 30px;
            display: flex;
            align-items: center;
            i {
              margin-left: 5px;
            }
            &.active {
              border: 2px solid black;
            }
          }
          & > .modal {
            position: absolute;
            padding: 0;
            border: 1px solid #cfcfcf;
            top: 50px;
            height: auto;
            width: max-content;
            left: auto;
            right: 0;
            background: white;
            border-radius: 12px;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
            display: none;
            &.active {
              display: block;
            }
            .close-btn-modal {
              position: absolute;
              width: 40px;
              height: 40px;
              bottom: 10px;
              left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .save {
              padding: 13px !important;
              border-top: 1px solid #e9e9e9;
              button {
                background: #2e2e2e;
                color: white;
                font-weight: bold;
                padding: 10px 15px;
                border-radius: 8px;
                margin-left: auto;
              }
            }
          }
        }
        .when {
          .modal-when {
            .calendar-tab {
              width: 158px;
              display: flex;
              justify-content: center;
              background: #e9e9e9;
              border-radius: 25px;
              height: 40px;
              padding: 5px;
              margin: 30px auto 50px;
              button {
                border-radius: inherit;
                font-weight: bold;
                padding: 8px 10px;
                &.active {
                  background: white;
                }
              }
            }
            .schedule-cont {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0 25px;
              .comment {
                color: #999;
                text-align: center;
                margin-bottom: 20px;
                font-size: 1.3em;
                font-weight: bold;
              }
              &.date {
                padding-bottom: 30px;
                & > div {
                  button {
                    padding: 10px 15px;
                    border: 1px solid #cfcfcf;
                    border-radius: 30px;
                    &:nth-child(2) {
                      margin: 0 5px;
                    }
                  }
                }
              }
              &.month {
                padding-bottom: 30px;
                & > .cont-wrap {
                  & > div {
                    display: flex;
                    gap: 10px;
                    button {
                      display: flex;
                      flex-direction: column;
                      padding: 30px 40px;
                      border-radius: 15px;
                      border: 2px solid #cfcfcf;
                      align-items: center;
                      i {
                        margin-bottom: 10px;
                        font-size: 2em;
                      }
                      span {
                        opacity: 0.5;
                        margin-top: 5px;
                        font-size: 0.85em;
                      }
                      &.active {
                        border-color: rgb(0, 89, 255);
                        background: #eeeeee;
                        color: rgb(0, 89, 255);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .guest {
          .modal-guest {
            & > div {
              padding: 25px 25px 0;
            }
            .guest-tab {
              display: grid;
              width: 100%;
              grid-template-columns: auto auto;
              justify-content: space-between;
              align-items: center;
              &:nth-child(5) {
                padding-bottom: 25px;
              }
              p {
                max-width: 200px;
                width: 100%;
                color: #777;
                line-height: 1.4em;
                b {
                  font-size: 1.1em;
                  font-weight: bold;
                  color: black;
                }
                a {
                  color: black;
                  font-weight: bold;
                  text-decoration: underline;
                }
              }
              .tab__count {
                display: flex;
                align-items: center;
                button {
                  width: 33px;
                  height: 33px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #717171;
                  border: 1px solid #ccc;
                  &:hover {
                    border-color: black;
                    color: black;
                  }
                  &.inactive {
                    opacity: 0.4;
                    cursor: default;
                    &:hover {
                      border: 1px solid #cfcfcf;
                      color: #999;
                    }
                  }
                }
                input {
                  width: 35px;
                  text-align: center;
                  outline: none;
                  border: none;
                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                  }
                }
              }
            }
            .animal {
              margin-bottom: 0;
              .notice-text {
                grid-column: span 2;
                width: 300px;
                margin-top: 20px;
              }
            }
            .save {
              justify-content: flex-end;
            }
          }
        }
        .filter {
          position: inherit;
          & > button {
            &::after {
              content: "필터";
              display: inline;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

#main {
  padding-top: 0;
  margin-bottom: 0;
  section {
    padding-top: 20px;
    .wrapper {
      max-width: 1600px;
      margin: auto;
      width: 100%;
      .map-btn {
        padding: 15px 20px;
        border-radius: 30px;
        background: #222;
        color: white;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        transition: bottom 0.5s;
        i {
          margin-left: 5px;
        }
      }
    }
  }
}
.cont-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 25px;
  .cont-item {
    .img-slide {
      position: relative;
      .slide {
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
        ul {
          display: flex;
          width: 300%;
          transition: transform 0.3s;
          li {
            width: 100%;
            a {
              width: 100%;
              padding-bottom: 100%;
              position: relative;
              img {
                width: 100%;
                object-fit: cover;
                position: absolute;
              }
            }
          }
        }
      }
      & > button {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: 1px solid #999;
        color: #555;
        opacity: 0;
        transition: opacity 0.2s;
        &:disabled {
          display: none;
        }
        i {
          font-size: 1.2em;
        }
        &.prev-btn {
          left: 5px;
        }
        &.next-btn {
          right: 5px;
        }
      }
      .pagination {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        .dot {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: white;
          opacity: 0.5;
          &:not(:first-child) {
            margin-left: 7px;
          }
          &.dot_active {
            opacity: 1;
          }
        }
      }
    }
    .img-text {
      a {
        padding: 15px 0 10px;
        display: grid;
        grid-template-columns: auto auto;
        & > span {
          padding-bottom: 5px;
          &:nth-child(even) {
            text-align: right;
          }
        }
        .place {
          font-weight: bold;
          font-size: 1.3em;
        }
        .price {
          font-size: 1.2em;
        }
        .distance {
          font-size: 1.2em;
          color: #888;
        }
        .date {
          color: #888;
        }
      }
    }
    &:hover {
      .img-slide {
        & > button {
          opacity: 0.8;
        }
      }
    }
  }
}

#modal_filter {
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  .modal__wrapper {
    width: auto;
    form {
      max-width: 780px;
      width: 100%;
      height: 100%;
      .modal__top {
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        button {
          position: absolute;
          left: 20px;
          top: 20px;
          font-size: 1.5em;
        }
        h4 {
          font-size: 1.3em;
        }
      }
      .modal__container {
        height: calc(100% - 120px);
        padding: 0 40px;
        .content {
          ul {
            margin-top: 20px;
            li {
              padding-bottom: 30px;
              margin-bottom: 30px;
              &:not(:last-child) {
                border-bottom: 1px solid #e9e9e9;
              }
              &.check-box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px 10px;
                strong {
                  grid-column: span 2;
                }
                &:not(.facilities-list) {
                  & > div:nth-child(n + 6) {
                    display: none;
                  }
                }
                .more {
                  margin-top: 10px;
                  grid-column: span 2;
                  text-decoration: underline;
                  font-weight: bold;
                  padding: 0;
                  background: none;
                  color: black;
                  text-align: left;
                }
                & > div {
                  display: flex;
                  width: 100%;
                  input {
                    margin: 0 10px 0 0;
                    &[type="checkbox"] {
                      zoom: 1.6;
                    }
                  }
                  label {
                    color: #777;
                    line-height: 1.5;
                    span {
                      line-height: 1;
                      margin-bottom: 8px;
                      display: block;
                      font-size: 1.15em;
                      color: black;
                    }
                  }
                }
                &.more-list {
                  &:not(.facilities-list) {
                    & > div:nth-child(n + 6) {
                      display: flex;
                    }
                  }
                  .more {
                    i {
                      transform: rotate(180deg);
                    }
                  }
                }
                &.facilities-list {
                  b {
                    display: none;
                    grid-column: span 2;
                    font-weight: bold;
                    margin: 20px 0 10px;
                  }
                  & > div:nth-child(n + 7) {
                    display: none;
                  }
                  &.more-list {
                    b {
                      display: block;
                    }
                    & > div:nth-child(n + 7) {
                      display: flex;
                    }
                  }
                }
              }
              &.toggle-tab {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                a {
                  text-decoration: underline;
                  font-weight: bold;
                }
                .toggle-bg {
                  width: 50px;
                  height: 30px;
                  background: #ccc;
                  border-radius: 20px;
                  transition: background-color 0.2s;
                  .toggle-fg {
                    margin: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 15px;
                    background: #fff;
                    position: relative;
                    left: 0;
                    transition: left 0.2s;
                  }
                  &.active {
                    background: #222;
                    .toggle-fg {
                      left: 20px;
                    }
                  }
                }
              }
              &.count-tab {
                strong {
                  margin-bottom: 10px;
                }
                .count-list {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 15px;
                  p {
                    color: black;
                    font-size: 1.15em;
                    margin-bottom: 0;
                  }
                  .tab__count {
                    display: flex;
                    align-items: center;
                    button {
                      width: 33px;
                      height: 33px;
                      border-radius: 50%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      color: #717171;
                      border: 1px solid #ccc;
                      background: white;
                      &:hover {
                        border-color: black;
                        color: black;
                      }
                      &.inactive {
                        opacity: 0.4;
                        cursor: default;
                        &:hover {
                          border: 1px solid #cfcfcf;
                          color: #999;
                        }
                      }
                    }
                    input {
                      width: 35px;
                      text-align: center;
                      outline: none;
                      border: none;
                      &::-webkit-outer-spin-button,
                      &::-webkit-inner-spin-button {
                        /* display: none; <- Crashes Chrome on hover */
                        -webkit-appearance: none;
                        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                      }
                    }
                  }
                }
              }
              strong {
                display: block;
                font-size: 1.6em;
                font-weight: bold;
                width: 100%;
                padding: 10px 0 15px;
              }
              p {
                color: #777;
                line-height: 1.5;
                margin-bottom: 10px;
                span {
                  display: block;
                  font-size: 1.15em;
                  color: black;
                  margin-bottom: 3px;
                }
              }
              button {
                background: #222;
                color: white;
                padding: 10px;
                border-radius: 8px;
              }
            }
          }
        }
      }
      .save {
        height: 60px;
        display: flex;
        align-items: center;
        border-top: 1px solid #e9e9e9;
        padding: 0 13px;
        button {
          margin-left: auto;
          background: #222;
          color: white;
          padding: 10px 15px;
          border-radius: 8px;
          font-weight: bold;
        }
      }
    }
  }
}

@include desktopLarge {
  .cont-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 25px;
  }
}
@include desktop {
  #search-header {
    nav {
      padding: 0 25px;
    }
  }
  #main.search-main {
    section {
      padding: 25px 25px 0;
    }
  }
  .cont-list {
    .cont-item {
      .img-text {
        a {
          padding: 10px 0;
          & > span {
            padding-bottom: 5px;
            &:nth-child(even) {
              text-align: right;
            }
          }
          .place {
            font-weight: bold;
            font-size: 1.2em;
          }
          .price {
            font-size: 1.1em;
          }
          .distance {
            font-size: 1.1em;
            color: #888;
          }
          .date {
            color: #888;
          }
        }
      }
    }
  }
}
@include max900 {
}
@include tablet {
  #search-header {
    height: 125px;
    .local-nav {
      padding: 0;
      &.fixed {
        height: 127px;
      }
      .wrapper {
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: auto 288px;
        .local-nav-left {
          overflow: auto;
          .filter-wrap {
            display: flex;
            width: max-content;
            .filter-list {
              width: auto;
              overflow: inherit;
              ul {
                height: auto;
                padding-left: 20px;
              }
            }
            .more {
              display: none;
            }
          }
        }
        .local-nav-right {
          width: 100%;
          padding: 0 25px;
          .nav-right-tab {
            margin: auto;
            background: #f7f7f7;
            padding: 5px;
            border-radius: 30px;
            .when,
            .guest {
              margin-left: 0;
              position: inherit;
              & > button {
                border: none;
                padding-top: 12px;
                padding-bottom: 12px;
                font-weight: bold;
                &.active {
                  border: none;
                }
                i {
                  display: none;
                }
              }
              .modal {
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 100vh;
                border: none;
                border-radius: 0;
                transition: all 0.3s;
                opacity: 0;
                display: block;
                & > button {
                  margin-right: auto;
                }
                .save {
                  margin-top: auto;
                }
                .close-btn-modal {
                  position: relative;
                  margin-top: 20px;
                }
                &.active {
                  display: flex;
                  opacity: 1;
                  top: 0;
                  flex-direction: column;
                  justify-content: space-between;
                }
              }
            }
            .when {
              .calendar-tab {
                margin-top: 50px;
                &::before {
                  content: "날짜를 선택하세요";
                  display: block;
                  font-size: 1.7em;
                  top: 60px;
                  left: 25px;
                  font-weight: bold;
                  position: absolute;
                }
              }
              .schedule-cont {
                &.month {
                  & > .cont-wrap {
                    width: 100%;
                    overflow: auto;
                    & > div {
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
            .guest {
              & > button {
                padding-left: 0;
                color: #777;
              }
              .guest-tab:nth-child(2) {
                margin-top: 30px;
                &::before {
                  content: "일행에 대해 알려주세요";
                  display: block;
                  position: absolute;
                  font-size: 1.7em;
                  top: 60px;
                  left: 25px;
                  font-weight: bold;
                }
              }
            }
          }
          .filter {
            position: absolute;
            right: 5px;
            button {
              border: none;
              &::after {
                content: "";
              }
            }
          }
        }
      }
    }
  }

  .cont-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
  #modal_filter {
    padding: 0;
    .modal__wrapper {
      border-radius: 0;
      width: 100%;
      form {
        .modal__container {
          padding: 0 25px;
          .content {
            ul {
              margin-top: 0;
              li {
                &.check-box {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  strong {
                  }
                  div {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                  }
                }
                strong {
                  font-size: 1.3em;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .cont-list {
    grid-template-columns: 1fr;
  }
  #modal_filter {
    .modal__wrapper {
      form {
        .save {
          button {
            width: 100%;
            padding: 15px;
          }
        }
      }
    }
  }
}
